
#details-container {
  font-family: "Avenir Light";
  top: 0;
  color: #918E8C;
}

/* dynamic */
/*#logo {
  width: 90px;
  height: 90px;
}*/



#top-row h1, 
#top-row h4 {
  font-weight: normal;
  margin-top: 0;
  position: absolute;
  display: inline-block;
}


#top-row h1, 
#top-row h4, 
#details-container h4 {
  font-family: "Futura";
}

#top-row {
  font-family: "Univers Bold";
}


#title {
  font-size: 100px;
}

#title-shrink,
#title-long,  
#title {
    left: 0;
}

#title,
#title-shrink, 
#title-long, 
#details-container h4 {
    color: #428cff;
}

#type {
  font-size: 45px;
  left: 0;
  top: 120px;
}

#close-page {
  right: 0;
  font-size: 100px;
  
  /* Safari */
  -webkit-transform: rotate(-45deg);

  /* Firefox */
  -moz-transform: rotate(-45deg);

  /* IE */
  -ms-transform: rotate(-45deg);

  /* Opera */
  -o-transform: rotate(-45deg);

  /* Internet Explorer */
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
  
  -moz-transition: all 1s ease;
  -webkit-transition: all 1s ease;
  -o-transition: all 1s ease;
  transition: all 1s ease;
}

#close-page:hover {
  cursor: pointer;
  color: #428CFF;
  
  -moz-transition: all 1s ease;
  -webkit-transition: all 1s ease;
  -o-transition: all 1s ease;
  transition: all 1s ease;
}

#top-row {
  margin-bottom: 40px;
  height: 100px;
}

#info-row {
  padding: 0;
/*  height: 500px;*/
}

#info-row p {
  font-family: "Avenir Light";
  color: #918E8C;
  font-size: 20px;
}


#description, #images {
  padding: 0;
  margin-top: 100px;
}

#description {

}

#description > p {

}


/* image container */

#images {
  text-align: right;
  overflow: scroll;
  /*  overflow: visible/hidden/scroll/auto;*/
}

#images img {
  border: 2px solid #918E8C;
  width: 80%;
  margin-bottom: 50px;
  
  -moz-transition: all 1s ease;
  -webkit-transition: all 1s ease;
  -o-transition: all 1s ease;
  transition: all 1s ease;
}

/*#images img:hover {
  width: 80%;
  
  -moz-transition: all 1s ease;
  -webkit-transition: all 1s ease;
  -o-transition: all 1s ease;
  transition: all 1s ease;
}
*/

#images img:last-child {
  margin-bottom: 0;
}


/* button */
.btn.btn-primary {
  border-radius: 0;
}

.btn:focus {
    outline: 0px;
}

.btn-primary {
    background-color: #428cff;
    color: #FFFFFF;
}

.btn-primary:hover, 
.btn-primary:focus, 
.btn-primary:active, 
.btn-primary.active, 
.open .dropdown-toggle.btn-primary {
    background-color: #0060f5;
    color: #FFFFFF;
}

/* details container */

#details-container {
  margin-top: 100px;
}

#details-container div {
  margin-bottom: 40px;
  text-align: left;
}

#details-container div p {
  margin: 0;
}

#details-container .emphasis {
/*  font-size: 20px;*/
  font-family: "Futura";
  color: #428cff;
}

#details-container .emphasis + p {
  font-size: 17px;
}

#details-container h4 {
  font-weight: 400;
}

#details-container .btn.btn-primary {
  display: block;
}

#details-container .margin {
  margin-bottom: 20px;
}


.caption {
  font-size: 15px !important;
  text-align: right;
  top: -40px;
  position: relative;
  padding-left: 145px;
}

.external-link {
  color: #428CFF;
}

#title-long {
  top: 20px;
}

#images .bg {
  background-color: white;
}

