body {

}

.nav
{
  color: red;
  top: 200px;
  height: 500px;
  opacity: 0.2;
  
  -webkit-transition: -webkit-box-shadow 0.5s ease-out;
  -moz-transition: -moz-box-shadow 0.5s ease-out;
  transition: box-shadow 0.5s ease-out;
}

.nav:hover {
  -webkit-box-shadow: 0px 0px 15px #444;
   -moz-box-shadow: 0px 0px 15px #444;
   transition: box-shadow 0.5s ease-out;
   box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.25);
}



#home .nav > div {
  margin: 0 auto;
  border-radius: 50%;
  border: 10px solid rgba(0, 0, 0, 0.6);
  width: 200px;
  height: 200px;
  text-align: center;
  
  -webkit-transition: border 0.5s ease-in-out;
  -moz-transition: border 0.5s ease-in-out;
  -ms-transition: border 0.5s ease-in-out;
  -o-transition: border 0.5s ease-in-out;
  transition: border 0.5s ease-in-out;
}

#home .nav:hover > div {
  border: 10px solid #33ccff;
  
  -webkit-transition: border 0.5s ease-in-out;
  -moz-transition: border 0.5s ease-in-out;
  -ms-transition: border 0.5s ease-in-out;
  -o-transition: border 0.5s ease-in-out;
  transition: border 0.5s ease-in-out;
    
}

#home .nav > div:hover {
/*  -webkit-transition: opacity 1s ease-in-out;
  -moz-transition: opacity 1s ease-in-out;
  -ms-transition: opacity 1s ease-in-out;
  -o-transition: opacity 1s ease-in-out;
  transition: opacity 1s ease-in-out;*/
  
/*  opacity: 0.5;*/
}



#home .nav p {
  font-size: 40px;
}

