body 
{
font-family: "league-gothic";
	background-image:url('../images/background.png');
	background-repeat: repeat-x repeat-y;
}

#header
{
/*	padding-top: 2em;
	padding-bottom: 2em;
	width: 25em;
	margin: 3em auto;*/
	position:relative;
	top:10em;
	color:white;
	border: 1em solid white;
	border-radius: 2em;
	text-align: center;
	background-color: rgba(255, 255, 255, .2); 
	border-color: rgba(255, 255, 255, 0.4); 
	text-shadow: 5px 5px 5px black;
	width: 85%; 
	top: 6em;
	text-align: center; 
	margin: 0 auto; 
	box-shadow: 1px 1px 0 0 #555, 2px 2px 0 0 #555, 2px 3px 0 0 #555, 3px 4px 0 0 #555, 3px 5px 0 0 #555, 3px 6px 10px 0 #111;

}

h1
{
		font-size: 4em;
}




