@import url(http://fonts.googleapis.com/css?family=Abel);

@font-face {
  font-family: "Univers Bold";
  src: url('../fonts/UniversBoldCn.otf'); 
  font-style: bold;
}

@font-face {
  font-family: "Cantarell";
  src: url('../fonts/CantarellRegular.ttf'); 
  font-style: normal;
}

@font-face {
  font-family: "Cantarell Bold";
  src: url('../fonts/CantarellBold.ttf');
  font-style: bold;
}

@font-face {
  font-family: "League Gothic";
  src: url('../fonts/leaguegothic-regular.ttf');
  font-style: normal;
}

@font-face {
  font-family: "Jura";
  src: url('../fonts/Jura-Regular.ttf');
  font-style: normal;
}

@font-face {
  font-family: "Canter";
  src: url('../fonts/Canter Bold.otf');
  font-style: bold;
}

@font-face {
  font-family: "Futura Medium";
  src: url('../fonts/Futura-Medium.otf');
  font-style: medium;
}


@font-face {
  font-family: "Futura";
  src: url('../fonts/FuturaStd-Book.otf');
  font-style: normal;
}

@font-face {
  font-family: "Futura Bold";
  src: url('../fonts/FuturaStd-Heavy.otf');
  font-style: bold;
}


/*FuturaStd-Book*/
/*------------------------------------------------------------------
[Table of contents]


1. General
2. Home Navigation / #header
3. Main Navigation / #main 
4. Project Page


10. Media Queries 


4. Content / #content
5. Left column / #leftcolumn
6. Right column / #rightcolumn
7. Sidebar / #sidebar
8. RSS / #rss
9. Search / #search
10. Boxes / .box
11. Sideblog / #sideblog
12. Advertisements / .ads
13. Footer / #footer
-------------------------------------------------------------------*/

/*------------------------------------------------------------------
General Colors

Triadic Logo

purple: {
hex: #613db5, 
rgb: 52, 73, 94
}

light blue: {
hex: #4ad6de,
change 
rgb: 117, 224, 249
}

dark blue: {
hex: #428cff, 
change
rgb: 10, 198, 242

}

darker blue: {
hex: #0060f5, 
}

-------------------------------------------------------------------*/


/*---------------------------
General 
---------------------------*/
body {
/*opacity: 0;*/
font-family: "Futura Bold";
background-color: #000;
position: relative;
}

#main-container {

}



/*---------------------------
Navigation
---------------------------*/

#header {
  height: 150px;
  color: #918E8C;
}

#header div {
  margin-top: 20px;
}


#logo {
  background-image: url("../images/logo-v2.png");
  background-size: 100%;
  background-repeat: no-repeat;
  width: 150px;
  height: 150px;
  /*  border-radius: 50%;
  width: 100px;
  height: 100px;
  border: 1px solid #918E8C;
  text-align: center;
  position: relative;*/
}

#logo h1 {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
}



/*---------------------------
Content
---------------------------*/
/* image containers */
#content > .gallery {
  /* or add col class to it */
  /* change to < 70 when in screen size small*/
  margin-top: 60px;
}

#content .project-containers {
  margin: 0 auto;
  width: 90%;
  height: 150px;
  border: 2px solid #918E8C;
  position: relative;
}

#content {
  padding-bottom: 40px;
  position: relative;
  top: 120px;
}



.project-containers {
  overflow: hidden;
  text-align: center;
}

.project-containers > div {
  position: absolute;
}

.project-containers .name {
  font-size: 80px;
}

.project-containers .name, 
.project-containers .type {
  left: 0;
  right: 0;
  line-height: 150px;
} 


.project-containers .type {
  font-size: 30px;
}



.project-containers .more {
  font-size: 80px;
  right: 0;
  bottom: 0;
  line-height: 60px;
}


.project-containers .type, 
.project-containers .more {
  opacity: 0;
}




.project-containers .name {
/*  background-color: grey;*/
  -webkit-transition-property: all;
   -webkit-transition-duration: 20s;
/*  font-size: 80px;*/
/*  line-height: 150px;*/
}




/*---------------------------
Media Queries
---------------------------*/
@media (max-width: 992px) {

}

@media (max-width: 480px) {

}


@media (max-width: 770px) {

}

@media (max-width: 992px) {

}

@media (min-width: 993px) {


}

@media (min-width: 768px) {

}

@media (max-width: 767px) {

}


