/* font faces */

@font-face {
  font-family: "Oswald Light";
  src: url("../fonts/Oswald-Light.otf");
  font-style: normal;
}


@font-face {
  font-family: "Oswald Regular";
  src: url("../fonts/Oswald-Regular.otf");
  font-style: normal;
}

@font-face {
  font-family: "Oswald Bold";
  src: url("../fonts/Oswald-Bold.otf");
  font-style: bold;
}

@font-face {
  font-family: "Crimson Text";
  src: url("../fonts/Crimson Text-Roman.ttf");
  font-style: normal;
}


/*FuturaStd-Book*/
/*------------------------------------------------------------------
[Table of contents]


1. General
2. Home Navigation / #header
3. Main Navigation / #main 
4. Project Page


10. Media Queries 


4. Content / #content
5. Left column / #leftcolumn
6. Right column / #rightcolumn
7. Sidebar / #sidebar
8. RSS / #rss
9. Search / #search
10. Boxes / .box
11. Sideblog / #sideblog
12. Advertisements / .ads
13. Footer / #footer
-------------------------------------------------------------------*/

/*------------------------------------------------------------------
Color Pallette

Triadic Logo
-- purple --
hex: #613db5, 
rgb: 52, 73, 94


-- light blue --
hex: #4ad6de,
change 
rgb: 117, 224, 249


-- dark blue --
hex: #428cff, 
change
rgb: 10, 198, 242

-- super light grey --
#e7e8e8

-- slightly darker grey -- 
#cdcfcf

-- text grey --
#75797c

-- card header grey --
#a9acae

-- another grey --
#c0c3c3

-------------------------------------------------------------------*/


/*---------------------------
General 
---------------------------*/
body {
  font-family: "Oswald Light";
  background-color: #fff;
  color: #75797c;
}

h1, 
h2, 
h3, 
h4,
span, 
.header, 
.type {
  letter-spacing: 0.14em;
}

/*---------------------------
Navigation
---------------------------*/

#logo {
  margin-top: 35px;
}

#logo img {
  width: auto;
  height: 80px;
}


#nav {
  margin: 50px 0px;
}

.nav-container {
  /* add media query to here. so that there's no margin when it's small*/
  margin: 0px 15px; 
  height: 150px;
  border-top: 2px solid #e7e8e8;
  border-bottom: 2px solid #e7e8e8;
}

#name {
  color: #A9ACAE;
  height: 70px;
  text-align: center;
}

#nav .row > div {
  position: relative;
}


#nav ul {
  right: 0;
  position: absolute;
}

#nav li {
  display: inline;
  margin-left: 20px;
  line-height: 150px;
  border: 2px solid transparent;
  padding: 7.5px 20px;

  -webkit-transition: all .25s linear; 
  -moz-transition:  all .25s linear; 
  -ms-transition: all .25s linear; 
  -o-transition: all .25s linear; 
  transition:  all .25s linear;
}

#nav .work.active {
  border: 2px solid #428cff;
}



#name > h4 {
  font-size: 1.1em !important;
  margin-top: 20px;
}

#name > p {
  font-size: 16px;
  letter-spacing: 0.1em;
  margin-top: 10px;
}

#nav ul {
/*  margin-top: 50px;*/
}

#nav ul li:hover {
  cursor: pointer;

  -webkit-transition: all .5s linear; 
  -moz-transition:  all .5s linear; 
  -ms-transition: all .5s linear; 
  -o-transition: all .5s linear; 
  transition:  all .5s linear; 
}

#nav ul li {
  -webkit-transition: all .25s linear; 
  -moz-transition:  all .25s linear; 
  -ms-transition: all .25s linear; 
  -o-transition: all .25s linear; 
  transition:  all .25s linear;  
}

#nav li a {
  color: #75797c;
}



/*---------------------------
Projects
---------------------------*/

#content .row {
  margin-bottom: 50px;
}

#content .column_4.center {
  padding: 0px 37.5px;
}

#content .column_4.left {
  padding-right: 75px;
}

#content .column_4.right {
  padding-left: 75px;
}


#content .card {
  border: 1px solid #e7e8e8;
  height: inherit;
  margin-bottom: 100px;

  -webkit-transition: all .25s linear; 
  -moz-transition:  all .25s linear; 
  -ms-transition: all .25s linear; 
  -o-transition: all .25s linear; 
  transition:  all .25s linear;
}

#content .card > div, 
#content .card p {
  -webkit-transition: all .25s linear; 
  -moz-transition:  all .25s linear; 
  -ms-transition: all .25s linear; 
  -o-transition: all .25s linear; 
  transition:  all .25s linear;
}

#content .header {
  font-family: "Oswald Regular";
  height: 50px;
  color: #a9acae;
  position: relative;
}

#content .header p {
  position: relative;
  margin-top: -7.5px;
}

#content .card .img {
  height: 200px;
/*  background-color: #c0c3c3;*/
  border-top: 1px solid transparent;
  border-bottom: 1px solid transparent;
  
  -webkit-transition: all .25s linear; 
  -moz-transition:  all .25s linear; 
  -ms-transition: all .25s linear; 
  -o-transition: all .25s linear; 
  transition:  all .25s linear;
}

#content .card .bottom {
  height: 150px;
}

#content .card .header, 
#content .card .bottom {
  padding: 25px;
}

#content .type {
  margin-bottom: 10px;
  font-family: "Oswald Regular";
  font-size: 15px;
  color: #A9ACAE;
}

#content .desc {
  line-height: 20px;
  font-family: "Crimson Text";
  font-size: 15px;
}


.card object {
  display: block;
  height: inherit;
  margin: 0 auto;
}

.card object {
  color: red !important;
}

.card .img {
  margin: 0 auto;
}

#content .img:hover, 
object:hover {
  cursor: pointer;
}
#content .card:hover {
  background-color: #8fbbff;
  border: 1px solid #8fbbff;
  cursor: pointer;

  -webkit-transition: all .5s linear; 
  -moz-transition:  all .5s linear; 
  -ms-transition: all .5s linear; 
  -o-transition: all .5s linear; 
  transition:  all .5s linear;
}

#content .card:hover p {
  color: white;
  
  -webkit-transition: all .25s linear; 
  -moz-transition:  all .25s linear; 
  -ms-transition: all .25s linear; 
  -o-transition: all .25s linear; 
  transition:  all .25s linear;
}

/* might be able to delete */
#content .card:hover .img {
/*  background-color: white;*/
/*  border-top: 1px solid white;
  border-bottom: 1px solid white;*/

  -webkit-transition: all .2s linear; 
  -moz-transition:   all .2s linear; 
  -ms-transition:  all .2s linear; 
  -o-transition:  all .2s linear; 
  transition:  all .2s linear;
}


/*---------------------------
Footer
---------------------------*/
#footer .footer-container {
  height: 150px;
  border-top: 1px solid #e7e8e8;
}


/*---------------------------
Media Queries
---------------------------*/
@media only screen and (min-width: 1200px) {

}

@media only screen and (min-width: 960px) and (max-width: 1199px) { 
    #content .column_4.center {
      padding: 0px 18.75px;
    }
    
    #content .card {
      height: 420px;
    }

    #content .column_4.left {
      padding-right: 37.5px;
    }

    #content .column_4.right {
      padding-left: 37.5px;
    }
}


@media only screen and (min-width: 768px) and (max-width: 959px) {
  #content .column_4.center {
    padding: 0px 9.375px;
  }
  
  #content .card {
    height: 440px;
  }

  #content .column_4.left {
    padding-right: 18.75px;
  }

  #content .column_4.right {
    padding-left: 18.75px;
  }
}

@media only screen and (min-width: 480px) and (max-width: 767px) {
  
}

@media only screen and (max-width: 767px) {
  #name {
    height: 90px;
    padding: 0 15px;
  }
  
  #name > h4 {
    font-size: 1.4em !important;
  }
  
  #name > p {
    line-height: 22px;
    font-size: 16px;
  }
  
  
  #content .column_4 {
    padding: 0 15px !important;
  }
  
  #nav .nav-container {
    height: 250px;
  }
  
  #nav .column_6 {
    display: none;
  }
  
  #nav .column_3 {
    text-align: center;
  }
  
  #nav .column_3 > ul {
    left: 0;
  }
  
  #nav li {
    font-size: 16.5px;
  }
}



@media (max-width: 480px) {
  
  #name {
    height: 120px;
    padding: 0 15px;
  }
  #name > h4 {
    font-size: 1.6em !important;
  }
  #name > p {
    line-height: 22px;
    font-size: 16px;
  }

  #nav .nav-container > div {
    width: 100%;
  }
  #nav .nav-container {
    height: 390px;
  }

  #nav li {
    display: block;
    margin: 0;
    font-size: 16.5px;
    margin: 10px;
    line-height: 50px;
  }

}

@media only screen and (max-width:1200px) {
/*  #content .column_4.center {
    padding: 0px 18.75px;
    border: 5px solid red;
  }*/
}


@media only screen and (min-width: 768px) and (max-width: 959px) {


}



@media (max-width: 992px) {
  
}


@media (min-width: 1025px) {

}