/* font faces */

@font-face {
  font-family: "Franklin Gothic";
  src: url("../fonts/FC.otf");
  font-style: normal;
}


@font-face {
  font-family: "Avenir Light";
  src: url("../fonts/AvenirLTStd-Light.otf");
  font-style: normal;
}


@font-face {
  font-family: "Crimson";
  src: url("../fonts/Ovo-Regular.ttf");
  font-style: normal;
}

@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Montserrat-Regular.ttf");
}

@font-face {
  font-family: "Univers Bold";
  src: url('../fonts/UniversBoldCn.otf'); 
  font-style: bold;
}

@font-face {
  font-family: "Cantarell";
  src: url('../fonts/CantarellRegular.ttf'); 
  font-style: normal;
}

@font-face {
  font-family: "Cantarell Bold";
  src: url('../fonts/CantarellBold.ttf');
  font-style: bold;
}

@font-face {
  font-family: "League Gothic";
  src: url('../fonts/leaguegothic-regular.ttf');
  font-style: normal;
}

@font-face {
  font-family: "Jura";
  src: url('../fonts/Jura-Regular.ttf');
  font-style: normal;
}

@font-face {
  font-family: "Canter";
  src: url('../fonts/Canter Bold.otf');
  font-style: bold;
}

@font-face {
  font-family: "Futura Medium";
  src: url('../fonts/Futura-Medium.otf');
  font-style: medium;
}


@font-face {
  font-family: "Futura";
  src: url('../fonts/FuturaStd-Book.otf');
  font-style: normal;
}

@font-face {
  font-family: "Futura Bold";
  src: url('../fonts/FuturaStd-Heavy.otf');
  font-style: bold;
}


/*FuturaStd-Book*/
/*------------------------------------------------------------------
[Table of contents]


1. General
2. Home Navigation / #header
3. Main Navigation / #main 
4. Project Page


10. Media Queries 


4. Content / #content
5. Left column / #leftcolumn
6. Right column / #rightcolumn
7. Sidebar / #sidebar
8. RSS / #rss
9. Search / #search
10. Boxes / .box
11. Sideblog / #sideblog
12. Advertisements / .ads
13. Footer / #footer
-------------------------------------------------------------------*/

/*------------------------------------------------------------------
General Colors

Triadic Logo

purple: {
hex: #613db5, 
rgb: 52, 73, 94
}

light blue: {
hex: #4ad6de,
change 
rgb: 117, 224, 249
}

dark blue: {
hex: #428cff, 
change
rgb: 10, 198, 242

}

darker blue: {
hex: #0060f5, 
}

-------------------------------------------------------------------*/


/*---------------------------
General 
---------------------------*/
body {
  background-color: #fff;
}

/*---------------------------
Navigation
---------------------------*/

#nav {
  margin-bottom: 50px;
}

.nav-container {
  /* add media query to here. so that there's no margin when it's small*/
  margin: 0px 15px; 
  height: 150px;
  border-top: 2px solid rgba(136, 140, 142, 0.4);
  border-bottom: 2px solid rgba(136, 140, 142, 0.4);
}

#nav .row .name {
  text-align: center;
}

#nav .row > div {
  position: relative;
}


#nav ul {
  right: 0;
  position: absolute;
}

#nav li {
  display: inline;
  margin-left: 20px;
  border: 1px solid green;
  line-height: 150px;
  padding: 10px;
}

.name {
  margin-top: 20px;
}

#nav ul {
/*  margin-top: 50px;*/
}

#nav ul li:hover {
  cursor: pointer;
}



/*---------------------------
Projects
---------------------------*/

#content .row {
  margin-bottom: 50px;
}

#content .column_4.center {
/*  position: relative;*/
  padding: 0px 37.5px;
}

#content .column_4.left {
  padding-right: 75px;
}

#content .column_4.right {
  padding-left: 75px;
}


#content .card {
  border: 1px solid rgba(136, 140, 142, 0.4);
/*  background-color: green;*/
  height: inherit;
  margin-bottom: 100px;
}

#content .card .header {
  height: 50px;
}

#content .card .img {
  height: 200px;
  background-color: yellow;
}

#content .card .bottom {
  height: 150px;
}

#content .card .header, 
#content .card .bottom {
  padding: 25px;
}

/*---------------------------
Footer
---------------------------*/
#footer .footer-container {
  height: 150px;
  border-top: 1px solid rgba(136, 140, 142, 0.4);
  border-bottom: 1px solid rgba(136, 140, 142, 0.4);
}


/*---------------------------
Media Queries
---------------------------*/

@media (max-width: 480px) {

}


@media (max-width: 770px) {
  
}

@media (min-width: 1025px) {
  #content .you {
    margin-left: 12.6666%;
  }
}


@media (max-width: 992px) {

}
