/* font faces */

@font-face {
  font-family: "Franklin Gothic";
  src: url("../fonts/FC.otf");
  font-style: normal;
}


@font-face {
  font-family: "Avenir Light";
  src: url("../fonts/AvenirLTStd-Light.otf");
  font-style: normal;
}


@font-face {
  font-family: "Crimson";
  src: url("../fonts/Ovo-Regular.ttf");
  font-style: normal;
}

@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Montserrat-Regular.ttf");
}

@font-face {
  font-family: "Univers Bold";
  src: url('../fonts/UniversBoldCn.otf'); 
  font-style: bold;
}

@font-face {
  font-family: "Cantarell";
  src: url('../fonts/CantarellRegular.ttf'); 
  font-style: normal;
}

@font-face {
  font-family: "Cantarell Bold";
  src: url('../fonts/CantarellBold.ttf');
  font-style: bold;
}

@font-face {
  font-family: "League Gothic";
  src: url('../fonts/leaguegothic-regular.ttf');
  font-style: normal;
}

@font-face {
  font-family: "Jura";
  src: url('../fonts/Jura-Regular.ttf');
  font-style: normal;
}

@font-face {
  font-family: "Canter";
  src: url('../fonts/Canter Bold.otf');
  font-style: bold;
}

@font-face {
  font-family: "Futura Medium";
  src: url('../fonts/Futura-Medium.otf');
  font-style: medium;
}


@font-face {
  font-family: "Futura";
  src: url('../fonts/FuturaStd-Book.otf');
  font-style: normal;
}

@font-face {
  font-family: "Futura Bold";
  src: url('../fonts/FuturaStd-Heavy.otf');
  font-style: bold;
}


/*FuturaStd-Book*/
/*------------------------------------------------------------------
[Table of contents]


1. General
2. Home Navigation / #header
3. Main Navigation / #main 
4. Project Page


10. Media Queries 


4. Content / #content
5. Left column / #leftcolumn
6. Right column / #rightcolumn
7. Sidebar / #sidebar
8. RSS / #rss
9. Search / #search
10. Boxes / .box
11. Sideblog / #sideblog
12. Advertisements / .ads
13. Footer / #footer
-------------------------------------------------------------------*/

/*------------------------------------------------------------------
General Colors

Triadic Logo

purple: {
hex: #613db5, 
rgb: 52, 73, 94
}

light blue: {
hex: #4ad6de,
change 
rgb: 117, 224, 249
}

dark blue: {
hex: #428cff, 
change
rgb: 10, 198, 242

}

darker blue: {
hex: #0060f5, 
}

-------------------------------------------------------------------*/


/*---------------------------
General 
---------------------------*/
body {
  padding: 20px;
  background-color: #fff;
}

/*---------------------------
Navigation
---------------------------*/
#nav .row {
  height: 150px;
  border-top: 1px solid grey;
  border-bottom: 1px solid grey;
}

#nav .row > div {
  position: relative;
}


#nav ul {
  right: 0;
  position: absolute;
}

#nav li {
  display: inline;
  background-color: blue;
  padding: 10px;
}



/*---------------------------
Media Queries
---------------------------*/

@media (max-width: 480px) {

}


@media (max-width: 770px) {
  
}


@media (max-width: 992px) {

}
