@font-face {
  font-family: "Canter Light";
  src: url('../fonts/Canter Light.otf'); 
  font-style: normal;
}

@font-face {
  font-family: "Canter Bold";
  src: url('../fonts/Canter Bold.otf'); 
  font-style: bold;
}

@font-face {
  font-family: jura;
  src: url('../fonts/Jura-Regular.ttf');
}


/*------------------------------------------------------------------
[Table of contents]


1. General
2. Home Navigation / #header
3. Main Navigation / #main 
4. Project Page


10. Media Queries 


4. Content / #content
5. Left column / #leftcolumn
6. Right column / #rightcolumn
7. Sidebar / #sidebar
8. RSS / #rss
9. Search / #search
10. Boxes / .box
11. Sideblog / #sideblog
12. Advertisements / .ads
13. Footer / #footer
-------------------------------------------------------------------*/

/*------------------------------------------------------------------
General Colors

Triadic Logo

asphault: {
hex: #34495E, 
rgb: 52, 73, 94
}

light blue: {
hex: #75E0F9, 
rgb: 117, 224, 249
}

blue: {
hex: #0AC6F2, 
rgb: 10, 198, 242
}
  
-------------------------------------------------------------------*/


/*---------------------------
General 
---------------------------*/
body {
/*  padding-bottom: 100px;*/
/*background-color: #ECEEF0;*/
}


.nav
{
  font-family: "Canter Bold";
  height: 500px;
  opacity: 0.3;
  margin: 50px 0px;
  -webkit-transition: -webkit-box-shadow 0.5s ease-out;
  -moz-transition: -moz-box-shadow 0.5s ease-out;
  transition: box-shadow 0.5s ease-out;

  -webkit-transition: background-color 0.5s linear;
  -moz-transition: background-color 0.5s linear;
  -o-transition: background-color 0.5s linear;
  -ms-transition: background-color 0.5s linear;
  transition: background-color 0.5s linear;
  
  background-color: white;
  
}

.nav:hover {
  opacity: 1;
  cursor: pointer;
  -webkit-box-shadow: 0px 0px 15px #444;
  -moz-box-shadow: 0px 0px 15px #444;
  transition: box-shadow 0.5s ease-out;

  -webkit-transition: background-color 0.5s linear;
  -moz-transition: background-color 0.5s linear;
  -o-transition: background-color 0.5s linear;
  -ms-transition: background-color 0.5s linear;
  transition: background-color 0.5s linear;
  
    -webkit-transition: opacity 1s ease-in-out;
   -moz-transition: opacity 1s ease-in-out;
   -ms-transition: opacity 1s ease-in-out;
   -o-transition: opacity 1s ease-in-out;
   transition: opacity 1s ease-in-out;
  background-color: rgba(117, 224, 249, 0.7);
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.15);
}




#home .nav > div:not(.row) {
  margin: 0 auto;
  border-radius: 50%;
  border: 10px solid rgba(10, 198, 242, 1);
  width: 200px;
  height: 200px;
  text-align: center;

  -webkit-transition: border 0.5s ease-in-out;
  -moz-transition: border 0.5s ease-in-out;
  -ms-transition: border 0.5s ease-in-out;
  -o-transition: border 0.5s ease-in-out;
  transition: border 0.5s ease-in-out;
}

#home .nav:hover > div:not(.row) {

  -webkit-transition: border 0.5s ease-in-out;
  -moz-transition: border 0.5s ease-in-out;
  -ms-transition: border 0.5s ease-in-out;
  -o-transition: border 0.5s ease-in-out;
  transition: border 0.5s ease-in-out;

}

#home .nav > div:not(.row):hover {
/*  -webkit-transition: opacity 1s ease-in-out;
-moz-transition: opacity 1s ease-in-out;
-ms-transition: opacity 1s ease-in-out;
-o-transition: opacity 1s ease-in-out;
transition: opacity 1s ease-in-out;*/

/*  opacity: 0.5;*/
}

#logo img {
  width: 180px; 
}



#home p {
  font-size: 60px;
  margin-top: 10px !important;
}


#home {
  display:none;
  position: absolute;
  top:0;
  bottom:0;
  text-align: center;
  right:0;
  left:0;
  overflow:auto;
  width: 100%;
  height: 100%;
/*  background-color: rgba(52, 73, 94, 1);*/
}

#home #logo {
  margin-top: 50px;
}

#main {
/*  display: none;*/
  width: 100%;
}

#main #content {
/*  background-color: rgba(0, 0, 0, 0.3);*/
height: 100%;
padding-top: 60px;
}

#main > .row:first-child {
  background-color: rgba(52, 73, 94, 0.86);
/*  rgba( 117, 224, 249, 0.2);*/
}


.major {
  position: relative;
}




/*---------------------------
Content Page 
---------------------------*/
#content {

}

#header {
  height: 400px;
/*  background-color: #363638; */
  text-align: center;
}

#header > #logo {
  font-size: 100px;
}

#header {
  background-repeat: no-repeat;
  background-size: 100%;
}


/*---------------------------
Content Page Navigation 
---------------------------*/

#top-nav {
  background-color: white;
  position: absolute;
  bottom: 0;
  font-family: "Lato";
  font-weight: 400;
  font-size: 12px;
  margin-bottom: -2px;
  text-align: center;
  width: 100%;
}

#top-nav span {
  color: white;
  margin: 0px 10px;
}

#top-nav a {
    opacity: 1;
/*    -webkit-transition: opacity 1s ease-out;
    -moz-transition: opacity 1s ease-out;
    transition: opacity 1s ease-out;

    -webkit-transition: color 1s ease-out;
    -moz-transition: color 1s ease-out;
    transition: color 1s ease-out;

    -webkit-transition: font-size 1s ease-out;
    -moz-transition: font-size 1s ease-out;
    transition: font-size 1s ease-out;*/
}

#top-nav a:hover {
  color: #0AC6F2;
  cursor: pointer;
  opacity: 1;
  
}

#header > #title {
  font-family: "Canter Light";
  margin-top: 20px;
  font-size: 70px;
  color: white;
  font-weight: normal;
}

#main #sidebar {
  height: 600px;
  border: 1px solid blue;
}

.active {
  color: red;
}

/*---------------------------
Content Page Images 
---------------------------*/


#main .gallery {
  background-position: center top;
  background-repeat: no-repeat;
  margin: 0 auto;
  display: block;
  position: relative;
  height: 265px;
  text-align: center;
  margin-bottom: 100px;
}

#main .grid {
/*   filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale");*/ /* Firefox 10+, Firefox on Android */
  filter: gray; /* IE6-9 */
/*  -webkit-filter: grayscale(100%); */
  
  transition: all 2s;
  -moz-transition: all 2s;
  -webkit-transition: all 2s;
  -o-transition: all 2s;
}

#main .grid.hover {
/*   filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'1 0 0 0 0, 0 1 0 0 0, 0 0 1 0 0, 0 0 0 1 0\'/></filter></svg>#grayscale");*/
/*   -webkit-filter: grayscale(0%);*/
   box-shadow: inset -2px -2px 2px rgba(0, 0, 0, 0.10);
   background-color: rgba(0, 0, 0, 0.03);
   
   transition: all 2s;
   -moz-transition: all 2s;
   -webkit-transition: all 2s;
   -o-transition: all 2s;
   
   transition: grayscale 2s;
   -moz-transition: grayscale 2s;
   -webkit-transition: grayscale 2s;
   -o-transition: grayscale 2s;
}






/*---------------------------
Project Page 
---------------------------*/

#description {
  margin-bottom: 60px;
  text-align: center;
  text-align: justify;
  text-justify: inter-cluster;
}

#detail-header {
  margin-top: 0;
}


/* on small screen change padding to like 10 on BOTH SIDES*/
#pieces-container {
  padding-left: 100px;
  margin-bottom: 100px;
}

#details-container {
  color: #34495E;
  padding-right: 100px;
}



#description {
  font-size: 15px;
}


#details-container h4 {
  font-size: 25px;
  margin-top: 0;
}

#details-container p {
  font-size: 15px;
  margin: 0;
}

#details-container > div {
  margin-bottom: 40px;
}

#details-container .title {
  font-weight: 600;
}

.pieces {
  height: 400px;
  margin-bottom: 50px;
  overflow: hidden;
  position: relative;
}

.pieces img {
  width:100%;
  position: absolute;
  left: 0;
  right: 0;
}

.btn {
  border-radius: 0 !important;
  background-color: #81d3f3 !important;
}

.btn:hover {
  background-color: #3bbaec !important;
}

.project-links {
  color: rgb(59, 186, 236) !important;
}


/*---------------------------
Footer 
---------------------------*/
#footer {
border-radius: 0;
margin-bottom: 0;
height: 300px;
padding: 100px;
text-align: center;
}

#footer a {
  margin: 0px 20px;
  opacity: 0.5;
}

#footer a > img {
  width: 40px;
  height: 40px;
}




/*@media (max-width: 768px) {
#blurb {
padding: 0px 100px;
}
}

@media (max-width: 928px) {
#blurb {
padding: 0px 200px;
}
}*/


@media (max-width: 992px) {
  
  /* Project Page */
  #details-container, #pieces-container {
    padding: 0px 15px;
  }
  
  #details-container {
    text-align: center;
  }
  
}

@media (max-width: 560px) {

}

@media (max-width: 770px) {
  #footer {
    padding: 30px;
  }
  
  #footer div {
    margin-bottom: 10px;
  }
  
  /* Project Page */
  #main .grid {
    margin: 0;
    padding: 10px;
  }
  
}

@media (min-width: 992px) {
  #top-nav {
      font-size: 16px;
  }
  
}


