@font-face {
  font-family: "Black";
  src: url("../fonts/proxima/Black.otf");
  font-style: bold;
}

@font-face {
  font-family: "Bold";
  src: url("../fonts/proxima/Bold.otf");
  font-style: bold;
}

@font-face {
  font-family: "Extrabold";
  src: url("../fonts/proxima/ExtraBold.otf");
  font-style: bold;
}

@font-face {
  font-family: "Semibold";
  src: url("../fonts/proxima/SemiBold.otf");
  font-style: bold;
}

@font-face {
  font-family: "Regular";
  src: url("../fonts/proxima/Regular.otf");
  font-style: normal;
}

@font-face {
  font-family: "Light";
  src: url("../fonts/proxima/Light.otf");
  font-style: normal;
}

@font-face {
  font-family: "Thin";
  src: url("../fonts/proxima/Thin.otf");
  font-style: normal;
}

.full {
  /* This image will be displayed fullscreen */
  /*  background-image: url("../images/bg.jpg");*/
  background-repeat: no-repeat;
  background-position: center center;
  /* Ensure the html element always takes up the full height of the browser window */
  /*  min-height: 100%;*/
  /* The Magic */
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  /*  width: 50%;*/
  background-size: cover;
  background: url("../images/bg7.jpg") no-repeat center center fixed;
}

body {
  /* Workaround for some mobile browsers */
  min-height: 100%;
  color: white;
  background-color: navy;
}

#animation {
  width: 100%;
  height: 100%;
  background-color: black;
  color: black;
  z-index: 1;
  position: absolute;
}

.container-fluid {
  padding: 32px !important;
  position: absolute;
  width: 100%;
  /*  background: #2980b9;*/
  /* fallback for old browsers */
  /*  background: -webkit-linear-gradient(to left, #2980b9, #2c3e50);*/
  /* Chrome 10-25, Safari 5.1-6 */
  /*  background: linear-gradient(to left, #2980b9, #2c3e50);*/
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.row {
  margin-left: 0;
  margin-right: 0;
}

.row.animated {
  opacity: 0;
}

#cta,
#content {
  margin-bottom: 56px;
}


/* cta */

#cta h1 {
  font-family: "Bold";
  font-size: 63px;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin: 0;
}

#cta h2 {
  font-size: 48px;
  font-family: "SemiBold";
  text-transform: uppercase;
  margin: 0;
}

#cta h5 {
  margin-top: 32px;
}

#cta h5,
#content h5 {
  font-family: "Light";
  font-size: 18px;
  letter-spacing: 0.5px;
}

#cta > .button {
  border: 2px solid white;
  text-align: center;
  padding: 8px;
  transition: all 0.3s ease;
}

#cta > .button.col-md-2 {
  margin: 16px 32px;
}


/*
@media only screen and (max-width: 768px) {
  #cta > .button.col-sm-12 {
    margin: 16px 0;
    background: red;
  }
}
*/

#cta > .button,
#content > #offerings > #services > li {
  font-size: 16px;
  font-family: "Light";
  color: white;
  text-decoration: none;
}

#cta > .button:hover {
  background: #53a7ea;
  transition: all 0.3s ease;
  text-decoration: none;
  cursor: pointer;
}

#cta > .button > p {
  margin: 0;
}


/* content */

#content > #offerings {
  margin-top: 8px;
}

#content > #offerings > #services > li {
  display: inline-block;
  list-style-type: none;
}

#content > #offerings > #services > li {
  width: 150px;
  text-align: center;
  margin: 16px 32px;
  padding: 8px;
  transition: all 0.3s ease;
}

#content > #offerings > #services > li > div {
  width: 68px;
  height: 80px;
  margin: 0 auto;
  background-size: 100% !important;
  background-repeat: no-repeat !important;
  margin-bottom: 16px;
}

#content > #offerings > #services > li > .exd {
  background: url("../images/icons/exd.png");
}

#content > #offerings > #services > li > .dr {
  background: url("../images/icons/research.png");
}

#content > #offerings > #services > li > .proto {
  background: url("../images/icons/prototyping.png");
  width: 40px;
}

#content > #offerings > #services > li > .strat {
  background: url("../images/icons/strategy.png");
}

#content > #offerings > #services > li > .code {
  background: url("../images/icons/coding.png");
  height: 55px;
  margin-top: 25px;
}


/* countdown */

#countdown p {
  display: inline-block;
}

#countdown .col-md-2 {
  text-align: left;
}

#countdown > .row > div {
  padding: 0;
}

#countdown .count {
  font-size: 64px;
  font-family: "Light";
  width: 80px;
}

#countdown .metric {
  font-size: 20px;
  font-family: "Light";
  letter-spacing: 0.5px;
}

#countdown .text {
  font-size: 24px;
  font-family: "Light";
  letter-spacing: 2px;
  float: right;
}

#countdown .col-xs-12 {
  text-align: center;
}


/* citations */

#citations {
  margin-right: 64px;
  text-align: left;
}

#citations > p {
  font-size: 8px;
  font-family: "Light";
  letter-spacing: 0.2px;
  display: inline-block;
  margin: 0;
  margin-right: 16px;
  opacity: 0.5;
}