/*Aderinsola Akintilo CSS*/
/*Adobe Dreamweaver CS5 Assistance*/
@charset "UTF-8";


body {
    /*font: 100%/1.4 Verdana, Arial, Helvetica, sans-serif;*/
    /*	font-family: Helvetica, Lucida Sans Unicode, Verdana, Sans-serif;*/
    /*	font-family: "adobe-garamond-pro";*/
    /*	background-image:url('../images/whitey.png');*/
    /*	font-family: "Buenard";*/
    zoom: 0.8; 
    -moz-transform: scale(1); 
    -moz-transform-origin: 0 0;
    font-family: "league-gothic";
    font-size:80%;
    background-image:url('../images/bg.gif');
    background-repeat: repeat;
    margin: 0;
    padding: 0;
    color: #000;
}

/* ~~ Element/tag selectors ~~ */
ul, ol, dl { /* Due to variations between browsers, it's best practices to zero padding and margin on lists. For consistency, you can either specify the amounts you want here, or on the list items (LI, DT, DD) they contain. Remember that what you do here will cascade to the .nav list unless you write a more specific selector. */
padding: 0;
margin: 0;
}
h1, h2, h3, h4, h5, h6, p {
    margin-top: 0;	 /* removing the top margin gets around an issue where margins can escape from their containing div. The remaining bottom margin will hold it away from any elements that follow. */
    padding-right: 15px;
    padding-left: 3px; /* adding the padding to the sides of the elements within the divs, instead of the divs themselves, gets rid of any box model math. A nested div with side padding can also be used as an alternate method. */
}
a img { /* this selector removes the default blue border displayed in some browsers around an image when it is surrounded by a link */
    border: none;
}
/* ~~ Styling for your site's links must remain in this order - including the group of selectors that create the hover effect. ~~ */
a:link {
    color: #42413C;
    text-decoration: none; /* unless you style your links to look extremely unique, it's best to provide underlines for quick visual identification */
}
a:visited {
    color: #6E6C64;
    text-decoration: underline;
}
a:hover, a:active, a:focus { /* this group of selectors will give a keyboard navigator the same hover experience as the person using a mouse. */
    text-decoration: none;
}

/* ~~ this fixed width container surrounds the other divs ~~ */
.container {
    width: 1200px;
    position:relative;
    padding-left:auto;
    margin: 0 auto; /* the auto value on the sides, coupled with the width, centers the layout */
}

/* ~~ the header is not given a width. It will extend the full width of your layout. It contains an image placeholder that should be replaced with your own linked logo ~~ */
.header {
    margin-bottom:60px;
    font-family:"league gothic";
    height:300px;
    max-width:100%;
    margin-top:-40px;
    /*	border: 0.09em solid #ffffff;*/
    /*	background-color:black;
    box-shadow: 14px 0px 15px #000000;*/
}

/* ~~ This is the layout information. ~~ 

1) Padding is only placed on the top and/or bottom of the div. The elements within this div have padding on their sides. This saves you from any "box model math". Keep in mind, if you add any side padding or border to the div itself, it will be added to the width you define to create the *total* width. You may also choose to remove the padding on the element in the div and place a second div within it with no width and the padding necessary for your design.

*/

.content {
    padding-top:40px 50px;
    padding: 10px 0;
    max-width:100%;
    max-height:100%;
    margin-bottom:40px;
}

.content_work
{
    padding-top:40px 50px;
    padding: 10px 0;
    max-width:100%;
    margin-bottom:550px;
}

/* ~~ The footer ~~ */
.footer {
    margin-bottom:10em;
    /*	border-top: 1px dashed #ffffff;*/
    padding: 10px 0;
    text-align:center;

}

.footer a, .footer p{
    color:#00b2dc; /*476090*/
}

/* ~~ miscellaneous float/clear classes ~~ */
.fltrt {  /* this class can be used to float an element right in your page. The floated element must precede the element it should be next to on the page. */
    float: right;
    margin-left: 8px;
}
.fltlft { /* this class can be used to float an element left in your page. The floated element must precede the element it should be next to on the page. */
    float: left;
    margin-right: 8px;
}
.clearfloat { /* this class can be placed on a <br /> or empty div as the final element following the last floated div (within the #container) if the #footer is removed or taken out of the #container */
    clear:both;
    height:0;
    font-size: 1px;
    line-height: 0px;
}

/* ---------------------------------------------*/
/* ---------------- Custom Code ----------------*/
/* ---------------------------------------------*/


/*------- The Logo -------*/
#name
{
    font-family: "league gothic";
    font-size: 8.5em;
    min-width:535px;
    letter-spacing:-2px;
    font-weight:lighter;
    top:120px;
    position:relative;
    color:#00b2dc;
    z-index:2;
    float: left;
    margin: 15px;
    margin-left:0px;
    -webkit-transition: margin 0.5s ease-out;
    -moz-transition: margin 0.5s ease-out;
    -o-transition: margin 0.5s ease-out;
}

#last_name
{
    color:white;
}

#name:hover, #last_name:hover
{
    margin-top: 2px;
}



/*------- The Nav Bar -------*/
#nav_bar
{
    position:relative; 
    left:165px;
    top:176px;
    min-width:1200px;

}

#nav_bar li
{
    display:inline;
    position:relative;
    padding-left:65px;

}

#nav_bar li a
{
    font-family: "league gothic";
    font-size:3em;
    color:white;
    padding:10px;
    border-radius:10px;
    float: left;
    margin: 15px;
    -webkit-transition: margin 0.5s ease-out;
    -moz-transition: margin 0.5s ease-out;
    -o-transition: margin 0.5s ease-out;
}

#nav_bar li a:hover
{
    margin-top: 2px;
    color:#00b2dc;
}


/*this will be for active tabs...when clicked change the :active code to this*/
body#work_page a#work_nav,
body#about_page a#about_nav,
body#resume_page a#resume_nav,
body#contact_page a#contact_nav {
    margin-top: 2px;
    color:#00b2dc;	
}


#line
{
/*border-top: 1px dashed #fff;
position:relative; 
width: 100%;
height:22px; 
top:257px; */
/*if you want it to line up with title then do 237px*/
}

/*------- The Content -------*/

/* Titles */
h1, h2, h3, p
{
    font-family:"Raleway";
}

/*p
{
    font-family:"Linden Hill" !important;
    font-weight:italic;
    font-family:"calluna";
}
*/

h1.page_headers
{
    border-bottom: 1px dashed grey;
    width:98.5%;
    color:white;
    font-weight:bold;
    font-size:4.2em;
}

#intro_para
{
    color:white;
    font-size:1.9em;
    line-height:40px;
}

/* this is for a paper background, if you ever need it. */
/*.content
{
position: relative;  
width: 91.6%;  
padding: 50px; 
margin: 0 auto;  
margin-bottom:10em;
background-color: #fff;  
-webkit-box-shadow: 0 0 4px rgba(0, 0, 0, 0.3), inset 0 0 50px rgba(0, 0, 0, 0.1);  
-moz-box-shadow: 0 0 4px rgba(0, 0, 0, 0.3), inset 0 0 50px rgba(0, 0, 0, 0.1);  
box-shadow: 0 0 5px rgba(0, 0, 0, 0.3), inset 0 0 50px rgba(0, 0, 0, 0.1);
}

.content:before, 
.content:after
{
position: absolute;  
width: 40%;  
height: 10px;  
content: ' ';  
left: 12px;  
bottom: 12px;  
background: transparent;  
-webkit-transform: skew(-5deg) rotate(-5deg);  
-moz-transform: skew(-5deg) rotate(-5deg);  
-ms-transform: skew(-5deg) rotate(-5deg);  
-o-transform: skew(-5deg) rotate(-5deg);  
transform: skew(-5deg) rotate(-5deg);  
-webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);  
-moz-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);  
box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);  
z-index: -1;
}

.content:after
{
left: auto;  
right: 12px;  
-webkit-transform: skew(5deg) rotate(5deg);  
-moz-transform: skew(5deg) rotate(5deg);  
-ms-transform: skew(5deg) rotate(5deg);  
-o-transform: skew(5deg) rotate(5deg);  
transform: skew(5deg) rotate(5deg);
}
*/

.container
{
/*		border: 0.09em solid #ffffff;*/
}


/* Work Page*/
/* Content Area*/

/* Hover Technique from Alessio Atzeni on codrops.com */



.view {
    width: 300px;
    height: 300px;
    margin: 10px;
    float: left;
    margin-bottom:5em;
    border: 10px solid #fff;
    overflow: hidden;
    position: relative;
    text-align: center;
    -webkit-box-shadow: 1px 1px 2px #e6e6e6;
    -moz-box-shadow: 1px 1px 2px #e6e6e6;
    box-shadow: 1px 1px 2px #e6e6e6;
    cursor: default;
    background: #fff url(../images/bg.gif) repeat center center;
}

.view img {
    display: block;
    position: relative;
}



#social_media > li
{
    opacity:0.7;
    text-decoration:none;
    display:inline;
    margin-right:5em;
}

#social_media > li:hover
{
    opacity:1;
    box-shadow: 0px 10px 65px #00b2dc;
}

#header_line
{
    width:100%;
    position:relative;
    border: 0;
    color: #fff;
    background-color: #fff;
    height: 1px;
    /*	border-top: 1px dashed #fff;*/
    /*	position:relative; */
    /*	width: 100%;*/
    /*	height:22px; */
    top:-90px;

}

#footer_line
{
    width:100%;
    position:relative;
    border: 0;
    color: #fff;
    background-color: #fff;
    height: 1px;
    margin-top:10em;
    top:0px;
}





/*------ Image Hover ------------------*/

/* --- viewport configuration ---------------------------------------------------------- */
.viewport {
    border: 3px solid #eee;
    float: left;
    height: 299px;
    margin: 0 9px 9px 0;
    overflow: hidden;
    position: relative;
    width: 450px;
}

/* This is so that the 2nd thumbnail in each row fits snugly. You will want to add a similar
class to the last thumbnail in each row to get rid of the margin-right. */
.no-margin {
    margin-right: 0;
}

/* --- Link configuration that contains the image and label ----------------------------- */
.viewport a {
    display: block;
    position: relative;
}

.viewport a img {
    height: 332px;
    left: -20px;
    position: relative;
    top: -20px;
    width: 500px;
}

/* --- Label configuration -------------------------------------------------------------- */
.viewport a span {
    display: none;
    font-size: 3.0em;
    font-weight: bold;
    height: 100%;
    padding-top: 120px;
    position: absolute;
    text-align: center;
    text-decoration: none;
    width: 100%;
    z-index: 100;
}
.viewport a span em {
    display: block;
    font-size: 0.45em;
    font-weight: normal;
}

/* --- Dark hover background ------------------------------------------------------------ */
.dark-background {
    background-color: rgba(15, 15, 15, 0.6);
    color: #fff;
    text-shadow: #000 0px 0px 20px;
}
.dark-background em {
    color: #ccc;
}

/* --- Light hover background ----------------------------------------------------------- */
.light-background {
    background-color: rgba(255, 255, 255, 0.6);
    color: #333;
    text-shadow: #fff 0px 0px 20px;
}
.light-background em {
    color: #707070;
}


.sixteen.columns
{

}

.two-thirds.column.omega
{
/*    background-color:blue;*/
}


 #intro_para a
{
    -webkit-transition:all 0.5s ease-out;   
    -moz-transition:all 0.5s ease-out;  
    transition:all 0.5s ease-out;
    color:rgba(0, 178, 220, 0.6);
}


#intro_para a:hover
{
    -webkit-transition:all 0.5s ease-out;   
    -moz-transition:all 0.5s ease-out;  
    transition:all 0.5s ease-out;
    color:rgba(0, 178, 220, 1);
}
