@import url(http://fonts.googleapis.com/css?family=Abel);

@font-face {
  font-family: "Canter Light";
  src: url('../fonts/Canter Light.otf'); 
  font-style: normal;
}

@font-face {
  font-family: "Canter Bold";
  src: url('../fonts/Canter Bold.otf'); 
  font-style: bold;
}

@font-face {
  font-family: jura;
  src: url('../fonts/Jura-Regular.ttf');
}




/*------------------------------------------------------------------
[Table of contents]


1. General
2. Home Navigation / #header
3. Main Navigation / #main 
4. Project Page


10. Media Queries 


4. Content / #content
5. Left column / #leftcolumn
6. Right column / #rightcolumn
7. Sidebar / #sidebar
8. RSS / #rss
9. Search / #search
10. Boxes / .box
11. Sideblog / #sideblog
12. Advertisements / .ads
13. Footer / #footer
-------------------------------------------------------------------*/

/*------------------------------------------------------------------
General Colors

Triadic Logo

asphault: {
hex: #34495E, 
rgb: 52, 73, 94
}

light blue: {
hex: #75E0F9, 
rgb: 117, 224, 249
}

blue: {
hex: #0AC6F2, 
rgb: 10, 198, 242
}

-------------------------------------------------------------------*/


/*---------------------------
General 
---------------------------*/
body {
/*opacity: 0;*/
  background-color: #000;
}



/*---------------------------
Navigation
---------------------------*/

#header {
  height: 150px;
  color: #918E8C;
}

#header div {
    margin-top: 20px;
}


#logo {
  border-radius: 50%;
  width: 100px;
  height: 100px;
  border: 1px solid #918E8C;
  text-align: center;
  position: relative;
}

#logo h1 {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
}



/*---------------------------
Content
---------------------------*/
/* image containers */
#content div {
  /* change to < 70 when in screen size small*/
  margin-bottom: 70px;
}

#content div > div {
  margin: 0 auto;
  width: 90%;
  height: 150px;
  border: 1px solid #918E8C;
}



/*---------------------------
Media Queries
---------------------------*/
@media (max-width: 992px) {

}

@media (max-width: 480px) {

}


@media (max-width: 770px) {

}

@media (max-width: 992px) {

}

@media (min-width: 993px) {


}

@media (min-width: 768px) {

}

@media (max-width: 767px) {

}


