@font-face {
  font-family: "Canter Light";
  src: url('../fonts/Canter Light.otf'); 
  font-style: normal;
}

@font-face {
  font-family: "Canter Bold";
  src: url('../fonts/Canter Bold.otf'); 
  font-style: bold;
}

@font-face {
  font-family: jura;
  src: url('../fonts/Jura-Regular.ttf');
}


/*------------------------------------------------------------------
[Table of contents]

1. Body
2. Home Navigation / #header
3. Main Navigation / #main 

4. Content / #content
5. Left column / #leftcolumn
6. Right column / #rightcolumn
7. Sidebar / #sidebar
8. RSS / #rss
9. Search / #search
10. Boxes / .box
11. Sideblog / #sideblog
12. Advertisements / .ads
13. Footer / #footer
-------------------------------------------------------------------*/

body {

}

.nav
{
  color: red;
  top: 200px;
  height: 300px;
  opacity: 0.2;

  -webkit-transition: -webkit-box-shadow 0.5s ease-out;
  -moz-transition: -moz-box-shadow 0.5s ease-out;
  transition: box-shadow 0.5s ease-out;
}

.nav:hover {
  cursor: pointer;
  -webkit-box-shadow: 0px 0px 15px #444;
  -moz-box-shadow: 0px 0px 15px #444;
  transition: box-shadow 0.5s ease-out;
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.05);
}



#home .nav > div:not(.row) {
  margin: 0 auto;
  border-radius: 50%;
  border: 4px solid rgba(0, 0, 0, 0.6);
  width: 200px;
  height: 200px;
  text-align: center;

  -webkit-transition: border 0.5s ease-in-out;
  -moz-transition: border 0.5s ease-in-out;
  -ms-transition: border 0.5s ease-in-out;
  -o-transition: border 0.5s ease-in-out;
  transition: border 0.5s ease-in-out;
}

#home .nav:hover > div:not(.row) {
  border: 10px solid #3BBAEC;

  -webkit-transition: border 0.5s ease-in-out;
  -moz-transition: border 0.5s ease-in-out;
  -ms-transition: border 0.5s ease-in-out;
  -o-transition: border 0.5s ease-in-out;
  transition: border 0.5s ease-in-out;

}

#home .nav > div:not(.row):hover {
/*  -webkit-transition: opacity 1s ease-in-out;
-moz-transition: opacity 1s ease-in-out;
-ms-transition: opacity 1s ease-in-out;
-o-transition: opacity 1s ease-in-out;
transition: opacity 1s ease-in-out;*/

/*  opacity: 0.5;*/
}



#home .nav p {
  font-size: 40px;
}


#home {
  display: none;
}

#main {
/*  display: none;*/
width: 100%;
}

#main #content {
/*  background-color: rgba(0, 0, 0, 0.3);*/
height: 100%;
padding-top: 60px;
}

#main .gallery {
  width: 160px;
  margin: 0 auto;
  height: 250px;
/*  border-radius: 50%;*/
/*  border: 5px solid blue;*/
  text-align: center;
  margin-bottom: 100px;
}
.major {
  position: relative;
}

img {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
/*  border: 4px solid blue !important;*/
}

.gallery {
/*  background-image: url("../images/pptv/pptv.png");*/
  background-position: center top;
/*  background-size: 152px 221px;*/
  background-repeat: no-repeat;
}



#header {
  height: 400px;
  background-color: #363638; 
  text-align: center;
}

#header > #logo {
  font-size: 100px;
}


/*---------------------------
Content Page Navigation 
---------------------------*/

#top-nav {
  position: absolute;
  bottom: 0;
  font-family: "Lato";
  font-weight: 200;
  font-size: 25px;
  text-align: center;
}

#top-nav span {
  color: white;
  margin: 0px 10px;
}

#header > #title {
  font-family: "Canter Light";
  margin-top: 0;
  font-size: 50px;
  color: white;
  font-weight: normal;
}

#main #sidebar {
  height: 600px;
  border: 1px solid blue;
}

#side-nav {
  font-family: "Lato";
  font-weight: 400;
}

#side-nav li {
  font-size: 30px;
}

.active {
  color: red;
}


/* Project Pages */

#blurb, #skills {
  border: 1px solid red;
  color: blue;
  margin-top: 30px;
  margin-bottom: 60px;
  text-align: center;
  text-align: justify;
  text-justify: inter-cluster;
}

.col-md-3, .col-md-4 {
/*  border: 1px solid red;*/
  margin-bottom: 50px;
/*  text-align: center;*/
}




/*@media (max-width: 768px) {
  #blurb {
    padding: 0px 100px;
  }
}

@media (max-width: 928px) {
  #blurb {
    padding: 0px 200px;
  }
}*/