
#content {
  font-family: "Cantarell";
  top: 0;
  color: #918E8C;
  padding: 0px 10px;
}

/* dynamic */
#logo {
  width: 90px;
  height: 90px;
}

#header {
  padding: 0;
}


#top-row h1, 
#top-row h4 {
  font-weight: 100;
  margin-top: 0;
  position: absolute;
  display: inline-block;
}


#top-row h1, 
#top-row h4, 
#details-container h4 {
  font-family: "Futura";
}

#top-row {
  font-family: "Univers Bold";
}


#title {
  font-size: 100px;
  left: 0;
}

#title,
#details-container h4 {
    color: #428cff;
}

#type {
  font-size: 25px;
  left: 0;
  top: 120px;
}

#close {
  right: 0;
  
  /* Safari */
  -webkit-transform: rotate(-45deg);

  /* Firefox */
  -moz-transform: rotate(-45deg);

  /* IE */
  -ms-transform: rotate(-45deg);

  /* Opera */
  -o-transform: rotate(-45deg);

  /* Internet Explorer */
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
}


#top-row {
  margin-bottom: 40px;
  height: 100px;
}

#info-row {
  top: 150px;
  padding: 0;
/*  height: 500px;*/
}

#info-row p {
  font-size: 15px;
}


#description, #images {
  padding: 0;
}

#description {
  text-align: justify;
  text-justify: inter-cluster;
}

#description > p {
  padding-right: 20px;
}


/* image container */

#images {
  text-align: center;
  overflow: scroll;
  /*  overflow: visible/hidden/scroll/auto;*/
}

#images img {
  border: 2px solid #918E8C;
  width: 80%;
  margin-bottom: 50px;
}

#images img:hover {
  width: 90%;
}


#images img:last-child {
  margin-bottom: 0;
}


/* button */
.btn.btn-primary {
  border-radius: 0;
}

.btn:focus {
    outline: 0px;
}

.btn-primary {
    background-color: #428cff;
    color: #FFFFFF;
}

.btn-primary:hover, 
.btn-primary:focus, 
.btn-primary:active, 
.btn-primary.active, 
.open .dropdown-toggle.btn-primary {
    background-color: #4ad6de;
    color: #FFFFFF;
}

/* details container */

#details-container {
  margin-top: 100px;
}

#details-container div {
  margin-bottom: 40px;
}

#details-container div p {
  margin: 0;
}

#details-container .emphasis {
    color: #428cff;
}
