#content {
  top: 0;
  padding: 0px 10px;
}

/* dynamic */
#logo {
  width: 90px;
  height: 90px;
}

#header {
  padding: 0;
}


#top-row h1 {
  margin-top: 0;
  position: absolute;
  display: inline-block;
}

#title {
  left: 0;
}

#close {
  right: 0;
}


#top-row {
  margin-bottom: 20px;
  height: 100px;
}

#info-row {
  padding: 0;
  height: 100px;
}

#description, #images {
  padding: 0;
}

#description {
  color: #918E8C;
  text-align: justify;
  text-justify: inter-cluster;
}

#description > p {
  padding-right: 20px;
}


/* image container */

#images {
  text-align: center;
  border: 4px solid #918E8C;
  height: 400px;
  overflow: scroll;
  /*  overflow: visible/hidden/scroll/auto;*/
}

#images img {
  width: 90%;
}

#images img {
  margin-bottom: 50px;
}

#images img:last-child {
  margin-bottom: 0;
}