.images
{
    position:relative !important;
}

.images img
{
    border:5px solid rgba(0, 178, 220, 0.2);
    /* #00b2dc */
    /*box-shadow:5px 5px 5px rgba(0, 178, 220, 0.5);*/

    -webkit-transition:all 0.5s ease-out;  
    -moz-transition:all 0.5s ease-out;  
    transition:all 0.5s ease-out;


}

div.work-container
{

    box-sizing:border-box;
    width:240px;
    height:240px;
    margin-left:35px;
    margin-bottom:100px;

    position:relative;
    display:inline-block;
    float:right;
}


.images img:hover
{
    border:5px solid rgba(0, 178, 220, 1);
    -webkit-transition:all 0.5s ease-out;   
    -moz-transition:all 0.5s ease-out;  
    transition:all 0.5s ease-out;  
}


.work-container .caption
{
    position:relative;
    width:inherit;
    font-size:25px;
    margin-bottom:20px !important;
    margin-top:5px;
    text-align:center;

}

.work-container .caption a
{
    -webkit-transition:all 0.5s ease-out; 
    -moz-transition:all 0.5s ease-out;  
    transition:all 0.5s ease-out; 
    color:white;
    line-height:30px;
}

.work-container .caption a:hover
{
    -webkit-transition:all 0.5s ease-out; 
    -moz-transition:all 0.5s ease-out;  
    transition:all 0.5s ease-out;
    color:rgba(0, 178, 220, 1);
}


.one-third.column.alpha
{
    width:24%;
    display:inline-block;
    /*        background-color:blue;*/
}

.one-third.column.alpha
{
    color:white;
    font-size:190%;
    line-height:30px;
}


.two-thirds.column.omega
{
    float:right;
    width:75%;
    height:auto;
/*    background-color:green;*/
}

#work_page .content
{
/*    background-color:grey;*/
}

.individual.work-container
{
    box-sizing:border-box;
    margin-left:35px;
    margin-bottom:50px;
    position:relative;
    display:inline-block;
    float:left;
}

.individual.work-container.alpha
{
    width:800px;
    height:700px;
    position:relative;
}

.individual.work-container.omega
{
    width:700px;
    height:500px;
    clear:both;
}

.individual.work-container .work-images
{
 
    float:left;
}

.skills
{
/*    font-size:10px;*/
    font-size:80%;
    padding-bottom:20px;
    padding-top:20px;
    margin:0;
    border-top:1px dashed grey;
    border-bottom:1px dashed grey;
}

.columns .one-third.column.alpha p a
{
    -webkit-transition:all 0.5s ease-out;   
    -moz-transition:all 0.5s ease-out;  
    transition:all 0.5s ease-out;
    color:rgba(0, 178, 220, 0.6);
}


.columns .one-third.column.alpha p a:hover
{
    -webkit-transition:all 0.5s ease-out;   
    -moz-transition:all 0.5s ease-out;  
    transition:all 0.5s ease-out;
    color:rgba(0, 178, 220, 1);
}

.skills span
{
    display:block;
    font-style:italic;
}

.skills.first
{
    border-bottom:none;
}

.bottom
{
    position:absolute;
    top:100px;
}

.columns.main
{
    height:900px;
}

.columns.works
{
    height:1700px;
    margin-bottom:0px;
    padding-bottom:100px;
}

