/*
	# Vars
*/

/*
	# Main
*/

*
{
	-webkit-font-smoothing: antialiased;
	-moz-font-smoothing: antialiased;
	font-smoothing: antialiased;
}

html
{}

body
{}


/*
    # Headings
*/

h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4,
h5, .h5,
h6, .h6
{
	font-family : $font-family-heading;
	color: $color-headings;

	font-weight: bold;
}

h1, .h1,
h2, .h2,
h3, .h3
{
	font-weight: normal;
	font-size: 48px;
}

h4, .h4,
h5, .h5,
h6, .h6
{}

h1, .h1
{}

h2, .h2
{}

h3, .h3
{}

h4, .h4
{}

h5, .h5
{}

h6, .h6
{}

/*
	# 
*/
a
{
	cursor: pointer;
}

a,
a:hover
{
	// transition: color $dur-link-transition;
}

/*
    # Lists
*/

ul
{
	padding-left: 0;
	margin-bottom: 0;
	list-style-type: none;
}

ul.styled
{
	padding-left: 1.25em;
	list-style-type: disc;
}
