/*
	# Vars
*/


/*
	# Main
*/

* {
	-webkit-font-smoothing: antialiased;
	-moz-font-smoothing: antialiased;
	font-smoothing: antialiased;
}

html {}

html {
	font-size: 0.75px; // for rem font sizes
	height: 100%;
}

html,
body {
	margin: 0;
}

body {
	height: 100%;
	overflow: hidden;
}


/*
    # Headings
*/

h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4,
h5,
.h5,
h6,
.h6 {
	margin: 0;
}

h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4,
h5,
.h5,
h6,
.h6 {}

h1,
.h1 {}

h2,
.h2 {}

h3,
.h3 {}

h4,
.h4 {}

h5,
.h5 {}

h6,
.h6 {}


/*
	# 
*/

a {
	cursor: pointer;
}

a,
a:hover {
	// transition: color $dur-link-transition;
}


/*
    # Lists
*/

ul {
	padding-left: 0;
	margin-bottom: 0;
	list-style-type: none;
}

ul.styled {
	padding-left: 1.25em;
	list-style-type: disc;
}

p {
	margin: 0;
}

h1,
h2,
h4,
h5 {
	text-transform: uppercase;
}

h1 {
	@include font-size($font-header1);
	font-family: $font-black;
}

h2 {
	@include font-size($font-header2);
	letter-spacing: 48px;
	font-family: $font-med;
}

h3 {
	@include font-size($font-header3);
	letter-spacing: 2px;
	font-family: $font-light;
}

h4 {
	@include font-size($font-header4);
	letter-spacing: 5px;
	font-family: $font-bold;
}

h5 {
	@include font-size($font-header5);
	letter-spacing: 2.5px;
	font-family: $font-reg;
}

p {
	@include font-size($font-copy);
	font-family: $font-reg;
	line-height: 40px;
}

caption {
	@include font-size($font-caption);
	font-family: $font-light;
}