@font-face {
     font-family: 'gt-bold';
     src: url('../fonts/GTEestiProDisplayWeb/bold/gt-eesti-pro-display-trial-bold-webfont.woff2') format('woff2'), url('../fonts/GTEestiProDisplayWeb/bold/gt-eesti-pro-display-trial-bold-webfont.woff') format('woff');
     font-weight: normal;
     font-style: normal;
}

@font-face {
     font-family: 'gt-light';
     src: url('../fonts/GTEestiProDisplayWeb/light/gt-eesti-pro-display-trial-light-webfont.woff2') format('woff2'), url('../fonts/GTEestiProDisplayWeb/light/gt-eesti-pro-display-trial-light-webfont.woff') format('woff');
     font-weight: normal;
     font-style: normal;
}

@font-face {
     font-family: 'gt-med';
     src: url('../fonts/GTEestiProDisplayWeb/medium/gt-eesti-pro-display-trial-medium-webfont.woff2') format('woff2'), url('../fonts/GTEestiProDisplayWeb/medium/gt-eesti-pro-display-trial-medium-webfont.woff') format('woff');
     font-weight: normal;
     font-style: normal;
}

@font-face {
     font-family: 'gt-reg';
     src: url('../fonts/GTEestiProDisplayWeb/regular/gt-eesti-pro-display-trial-regular-webfont.woff2') format('woff2'), url('../fonts/GTEestiProDisplayWeb/regular/gt-eesti-pro-display-trial-regular-webfont.woff') format('woff');
     font-weight: normal;
     font-style: normal;
}

@font-face {
     font-family: 'gt-thin';
     src: url('../fonts/GTEestiProDisplayWeb/thin/gt-eesti-pro-display-trial-thin-webfont.woff2') format('woff2'), url('../fonts/GTEestiProDisplayWeb/thin/gt-eesti-pro-display-trial-thin-webfont.woff') format('woff');
     font-weight: normal;
     font-style: normal;
}

@font-face {
     font-family: 'gt-ultraBold';
     src: url('../fonts/GTEestiProDisplayWeb/ultrabold/gt-eesti-pro-display-trial-ultrabold-webfont.woff2') format('woff2'), url('../fonts/GTEestiProDisplayWeb/ultrabold/gt-eesti-pro-display-trial-ultrabold-webfont.woff') format('woff');
     font-weight: normal;
     font-style: normal;
}

@font-face {
     font-family: 'gt-ultraLight';
     src: url('../fonts/GTEestiProDisplayWeb/ultralight/gt-eesti-pro-display-trial-ultralight-webfont.woff2') format('woff2'), url('../fonts/GTEestiProDisplayWeb/ultralight/gt-eesti-pro-display-trial-ultralight-webfont.woff') format('woff');
     font-weight: normal;
     font-style: normal;
}