/*
* === FONTS ===

Geomanist-Black-Webfont
Geomanist-Bold-Webfont
Geomanist-Book-Webfont
Geomanist-ExtraLight-Webfont
Geomanist-Light-Webfont
Geomanist-Medium-Webfont
Geomanist-Regular-Webfont
Geomanist-Thin-Webfont
Geomanist-Ultra-Webfont

*/

/*
* — Gemanist Styles —
*/
@font-face {
     font-family: 'geo-black';
     src: url('../fonts/Geomanist/Geomanist-Black-Webfont/geomanist-black-webfont.eot');
     src: url('../fonts/Geomanist/Geomanist-Black-Webfont/geomanist-black-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/Geomanist/Geomanist-Black-Webfont/geomanist-black-webfont.woff2') format('woff2'), url('../fonts/Geomanist/Geomanist-Black-Webfont/geomanist-black-webfont.woff') format('woff'), url('../fonts/Geomanist/Geomanist-Black-Webfont/geomanist-black-webfont.ttf') format('truetype'), url('../fonts/Geomanist/Geomanist-Black-Webfont/geomanist-black-webfont.svg') format('svg');
     font-weight: normal;
     font-style: normal;
}

@font-face {
    font-family: 'geo-bold';
    src: url('../fonts/Geomanist/Geomanist-Bold-Webfont/geomanist-bold-webfont.eot');
    src: url('../fonts/Geomanist/Geomanist-Bold-Webfont/geomanist-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Geomanist/Geomanist-Bold-Webfont/geomanist-bold-webfont.woff2') format('woff2'),
         url('../fonts/Geomanist/Geomanist-Bold-Webfont/geomanist-bold-webfont.woff') format('woff'),
         url('../fonts/Geomanist/Geomanist-Bold-Webfont/geomanist-bold-webfont.ttf') format('truetype'),
         url('../fonts/Geomanist/Geomanist-Bold-Webfont/geomanist-bold-webfont.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'geo-book';
    src: url('../fonts/Geomanist/Geomanist-Book-Webfont/geomanist-book-webfont.eot');
    src: url('../fonts/Geomanist/Geomanist-Book-Webfont/geomanist-book-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Geomanist/Geomanist-Book-Webfont/geomanist-book-webfont.woff2') format('woff2'),
         url('../fonts/Geomanist/Geomanist-Book-Webfont/geomanist-book-webfont.woff') format('woff'),
         url('../fonts/Geomanist/Geomanist-Book-Webfont/geomanist-book-webfont.ttf') format('truetype'),
         url('../fonts/Geomanist/Geomanist-Book-Webfont/geomanist-book-webfont.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'geo-extralight';
    src: url('../fonts/Geomanist/Geomanist-ExtraLight-Webfont/geomanist-extralight-webfont.eot');
    src: url('../fonts/Geomanist/Geomanist-ExtraLight-Webfont/geomanist-extralight-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Geomanist/Geomanist-ExtraLight-Webfont/geomanist-extralight-webfont.woff2') format('woff2'),
         url('../fonts/Geomanist/Geomanist-ExtraLight-Webfont/geomanist-extralight-webfont.woff') format('woff'),
         url('../fonts/Geomanist/Geomanist-ExtraLight-Webfont/geomanist-extralight-webfont.ttf') format('truetype'),
         url('../fonts/Geomanist/Geomanist-ExtraLight-Webfont/geomanist-extralight-webfont.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'geo-light';
    src: url('../fonts/Geomanist/Geomanist-Light-Webfont/geomanist-light-webfont.eot');
    src: url('../fonts/Geomanist/Geomanist-Light-Webfont/geomanist-light-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Geomanist/Geomanist-Light-Webfont/geomanist-light-webfont.woff2') format('woff2'),
         url('../fonts/Geomanist/Geomanist-Light-Webfont/geomanist-light-webfont.woff') format('woff'),
         url('../fonts/Geomanist/Geomanist-Light-Webfont/geomanist-light-webfont.ttf') format('truetype'),
         url('../fonts/Geomanist/Geomanist-Light-Webfont/geomanist-light-webfont.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'geo-medium';
    src: url('../fonts/Geomanist/Geomanist-Medium-Webfont/geomanist-medium-webfont.eot');
    src: url('../fonts/Geomanist/Geomanist-Medium-Webfont/geomanist-medium-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Geomanist/Geomanist-Medium-Webfont/geomanist-medium-webfont.woff2') format('woff2'),
         url('../fonts/Geomanist/Geomanist-Medium-Webfont/geomanist-medium-webfont.woff') format('woff'),
         url('../fonts/Geomanist/Geomanist-Medium-Webfont/geomanist-medium-webfont.ttf') format('truetype'),
         url('../fonts/Geomanist/Geomanist-Medium-Webfont/geomanist-medium-webfont.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}


@font-face {
    font-family: 'geo-reg';
    src: url('../fonts/Geomanist/Geomanist-Regular-Webfont/geomanist-regular-webfont.eot');
    src: url('../fonts/Geomanist/Geomanist-Regular-Webfont/geomanist-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Geomanist/Geomanist-Regular-Webfont/geomanist-regular-webfont.woff2') format('woff2'),
         url('../fonts/Geomanist/Geomanist-Regular-Webfont/geomanist-regular-webfont.woff') format('woff'),
         url('../fonts/Geomanist/Geomanist-Regular-Webfont/geomanist-regular-webfont.ttf') format('truetype'),
         url('../fonts/Geomanist/Geomanist-Regular-Webfont/geomanist-regular-webfont.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'geo-thin';
    src: url('../fonts/Geomanist/Geomanist-Thin-Webfont/geomanist-thin-webfont.eot');
    src: url('../fonts/Geomanist/Geomanist-Thin-Webfont/geomanist-thin-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Geomanist/Geomanist-Thin-Webfont/geomanist-thin-webfont.woff2') format('woff2'),
         url('../fonts/Geomanist/Geomanist-Thin-Webfont/geomanist-thin-webfont.woff') format('woff'),
         url('../fonts/Geomanist/Geomanist-Thin-Webfont/geomanist-thin-webfont.ttf') format('truetype'),
         url('../fonts/Geomanist/Geomanist-Thin-Webfont/geomanist-thin-webfont.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}


/*
* — GT Eesti Pro Display Styles —
*/
@font-face {
     font-family: 'gt-bold';
     src: url('../fonts/GTEestiProDisplayWeb/bold/gt-eesti-pro-display-trial-bold-webfont.woff2') format('woff2'), url('../fonts/GTEestiProDisplayWeb/bold/gt-eesti-pro-display-trial-bold-webfont.woff') format('woff');
     font-weight: normal;
     font-style: normal;
}

@font-face {
     font-family: 'gt-light';
     src: url('../fonts/GTEestiProDisplayWeb/light/gt-eesti-pro-display-trial-light-webfont.woff2') format('woff2'), url('../fonts/GTEestiProDisplayWeb/light/gt-eesti-pro-display-trial-light-webfont.woff') format('woff');
     font-weight: normal;
     font-style: normal;
}

@font-face {
     font-family: 'gt-med';
     src: url('../fonts/GTEestiProDisplayWeb/medium/gt-eesti-pro-display-trial-medium-webfont.woff2') format('woff2'), url('../fonts/GTEestiProDisplayWeb/medium/gt-eesti-pro-display-trial-medium-webfont.woff') format('woff');
     font-weight: normal;
     font-style: normal;
}

@font-face {
     font-family: 'gt-reg';
     src: url('../fonts/GTEestiProDisplayWeb/regular/gt-eesti-pro-display-trial-regular-webfont.woff2') format('woff2'), url('../fonts/GTEestiProDisplayWeb/regular/gt-eesti-pro-display-trial-regular-webfont.woff') format('woff');
     font-weight: normal;
     font-style: normal;
}

@font-face {
     font-family: 'gt-thin';
     src: url('../fonts/GTEestiProDisplayWeb/thin/gt-eesti-pro-display-trial-thin-webfont.woff2') format('woff2'), url('../fonts/GTEestiProDisplayWeb/thin/gt-eesti-pro-display-trial-thin-webfont.woff') format('woff');
     font-weight: normal;
     font-style: normal;
}

@font-face {
     font-family: 'gt-ultraBold';
     src: url('../fonts/GTEestiProDisplayWeb/ultrabold/gt-eesti-pro-display-trial-ultrabold-webfont.woff2') format('woff2'), url('../fonts/GTEestiProDisplayWeb/ultrabold/gt-eesti-pro-display-trial-ultrabold-webfont.woff') format('woff');
     font-weight: normal;
     font-style: normal;
}

@font-face {
     font-family: 'gt-ultraLight';
     src: url('../fonts/GTEestiProDisplayWeb/ultralight/gt-eesti-pro-display-trial-ultralight-webfont.woff2') format('woff2'), url('../fonts/GTEestiProDisplayWeb/ultralight/gt-eesti-pro-display-trial-ultralight-webfont.woff') format('woff');
     font-weight: normal;
     font-style: normal;
}