/*
	# Vars
*/

//http://stackoverflow.com/questions/14962468/flexbox-and-vertical-scroll-in-a-full-height-app-using-newer-flexbox-api

/*
    # Blocks
*/

$color--bgMain: black;
html,
body,
.layout--content {
//	height: auto;
	background: $color--bgMain;
}

body {
	display: flex;
	flex-direction: column;
//	min-height: 100vh;
}

.layout--header {
	background: $color--bgMain;
	order: 1;
//	flex-shrink: 0;
	flex-basis: 192px; //$componentHeight-xl;
	display: flex;
	width: 100%;
	z-index: 1000;
}

.layout--content {
	order: 2;
	//	overflow: hidden;
	display: flex;
	flex-direction: column;
	position: relative;
	// testing fix
	flex: 1;
	overflow-y: visible;
}

.content--top {
	order: 1;
	flex-basis: 1000px;
	height: inherit;
	//	flex: 1;
	// testing fix
	flex: 1 0 auto;
}

.content--bottom {
	//	flex: 0;
	order: 2;
	//	flex-shrink: 0;
	flex: none;
	height: 600px;
	background: red;
}