/*
	# Vars
*/
$componentHeight-base	: 8px; 
$componentHeight-xl 	: $componentHeight-base * 24; 

/*
    # Blocks
*/

.layout--header {
	height: $componentHeight-xl; 
}

.l-main
{}

.l-content
{}

.l-sidebar
{}