body 
{
		font-family: sans-serif;
		background-image:url(images/background.png);
		background-repeat: repeat-x repeat-y;
}

#header
{
  padding-top: 25px;
			  padding-bottom: 25px;
				width: 300px;
				margin: 30px auto;
				background-color: #eee;
				border: 10px solid #ccc;
				border-radius: 5px;
				text-align: center;
}