<div class="header__menu bg__projects-color">
  <p class="menu--title"> Menu</p>
</div>

<div class="header__logo col-xs-12">
<!--  <h2 class="<% this %>">ADERINSOLA</h2>-->
<!-- .selectedModel.attributes.category-->
  <h2 class="<%= this.pages %>">ADERINSOLA</h2>
</div>


<div class="header__navbar col-xs-12">
  <div id="about" class="button navigation-button">
    <h5> about </h5>
  </div>
  <div id="process" class="button navigation-button">
    <h5>process</h5>
  </div>
  <div id="contact" class="button navigation-button">
    <h5>contact</h5>
  </div>
  <div id="claron" class="button navigation-button">
    <h5>claron</h5>
  </div>
  <div id="helios" class="button navigation-button">
    <h5>helios</h5>
  </div>
  <div id="freespira" class="button navigation-button">
    <h5>freespira</h5>
  </div>
  <div id="gridmi" class="button navigation-button">
    <h5>gridmi</h5>
  </div>
  <div id="photos" class="button navigation-button">
    <h5>photos</h5>
  </div>
  <div id="toffee" class="button navigation-button">
    <h5>toffee</h5>
  </div>
</div>