<div class="header__menu">
  <p class="menu--title"> Menu</p>
</div>


<div class="header__logo">
  ADERINSOLA
</div>


<div class="header__navbar">
 <div class="navbar--links">
   <p> about </p>
 </div>
 <div class="navbar--links">
   <p>process</p>
 </div>
 <div class="navbar--links">
   <p>contact</p>
 </div>
 <div class="navbar--links">
   <p>claron</p>
 </div>
 <div class="navbar--links">
   <p>helios</p>
 </div>
 <div class="navbar--links">
   <p>freespira</p>
 </div>
 <div class="navbar--links">
   <p>gridmi</p>
 </div>
 <div class="navbar--links">
   <p>photos</p>
 </div>
 <div class="navbar--links">
   <p>toffee</p>
 </div> 
</div>