<div class="header__menu bg__projects-color">
  <p class="menu--title"> Menu</p>
</div>


<div class="header__logo col-xs-12">
  <h2>ADERINSOLA</h2>
</div>


<div class="header__navbar col-xs-12">
  <div class="navbar--links">
    <h5> about </h5>
  </div>
  <div class="navbar--links">
    <h5>process</h5>
  </div>
  <div class="navbar--links">
    <h5>contact</h5>
  </div>
  <div class="navbar--links">
    <h5>claron</h5>
  </div>
  <div class="navbar--links">
    <h5>helios</h5>
  </div>
  <div class="navbar--links">
    <h5>freespira</h5>
  </div>
  <div class="navbar--links">
    <h5>gridmi</h5>
  </div>
  <div class="navbar--links">
    <h5>photos</h5>
  </div>
  <div class="navbar--links">
    <h5>toffee</h5>
  </div>
</div>