.navigation-button {
     height: $baseBlockSize * 6; // 40px
     flex: 1;
     justify-content: center;
     align-items: center;
     display: flex;
     //$color-primaryBlack;
     color: $color-navButton; // white 77% opacity;
     &.bio {
          color: $color-navButton-bio; // blue
     }
     &.works {
          color: $color-navButton-works; // red
     }
     &.projects {
          color: $color-navButton-projects; // yellow
     }
}

.primary-button {
     height: $baseBlockSize * 6; // 120px
     background: $color-primaryWhite;
     &.bio {
          color: $color-primaryButton-bio;
     }
     &.works {
          color: $color-primaryButton-works;
     }
     &.projects {
          color: $color-primaryButton-projects;
     }
}

.primary-button > p {
     font-family: $font-bold;
     @include font-size($font-button); // 24px
     letter-spacing: 2.25px;
}

// for all buttons
.button:hover {
     cursor: pointer;
}

.behind-the-scenes-button {
     background: white;
     display: flex;
     justify-content: center;
     align-items: center;
     text-transform: uppercase;
     letter-spacing: $btnLtrSpacing;
     font-family: 'gt-bold';
     padding-top: $baseBlockSize / 2;
}

.btn--primaryRed {
     color: $color-projectRed;
}