// --------------
// VARIABLES 
// --------------

// colors
$color-white: white;
$color-projectRed: red;

/// heights
$blockHeight-1104: $baseBlockSize * 138;
$lineHeight-106: 106px;
$lineHeight-40: 40px;
$btnHeight: $baseBlockSize * 6; 

// text
$btnLtrSpacing: $baseFontSize / 3.2 + px; 
$titleLtrSpacing: $baseFontSize/4 + px; 


.content--top {
 height: inherit;
}

.title--container,
.callout--container,
.description--container,
.skills--container {
 color: $color-white;
}

.content--top > .row {
 justify-content: space-evenly;
 height: inherit;
}

.content--top,
.content--top > .row {
 position: relative;
}

.content--top .background-color {
 background: $color-projectRed;
 height: inherit;
 width: 75%;
 position: absolute;
 right: 0;
}

.content--top .pitch {
 z-index: 1;
}

.content--top .slideshow,
.content--top .pitch {
 display: flex;
 z-index: 1;
}

.content--top .pitch {
 flex-direction: row;
 flex-wrap: wrap;
}

.content--top .slideshow {
 flex-direction: row;
 flex-wrap: wrap;
}

.image--container {
 min-height: $blockHeight-1104;
 height: 90%;
}

.image {
 background: url("../images/claron.png");
 background-size: 100%;
 height: 100%;
 background-repeat: no-repeat;
}

.title {
 @include font-size($fontSize-56);
 font-family: 'gt-thin';
 letter-spacing: $titleLtrSpacing;
}

.title--underline {
 background: white;
 height: $baseBlockSize;
 border-radius: 8px;
}

.callout {
 @include font-size($fontSize-88);
 font-family: 'gt-ultraBold';
 text-transform: uppercase;
 line-height: $lineHeight-106;
 color: $color-white;
}

.description {
 @include font-size($fontSize-24);
 font-family: 'gt-light';
 letter-spacing: 0.5px;
 line-height: $lineHeight-40;
}

.skills {
 @include font-size($fontSize-16);
 font-family: 'gt-light';
 text-transform: capitalize;
}

.behind-the-scenes {
 background: white;
 height: $btnHeight;
 display: flex;
 justify-content: center;
 align-items: center;
 text-transform: uppercase;
 letter-spacing: $btnLtrSpacing;
 font-family: 'gt-bold';
 @include font-size($fontSize-18);
 padding-top: $baseBlockSize / 2;
}

.btn--primaryRed {
 color: $color-projectRed;
}