.content--top {
 div {
  color: white;
 }
}

.content--top .row {
 justify-content: flex-end;
 height: 100%;
}

.content--top .background-color {
 background: red;
 height: 100%;
 width: 75%;
 position: absolute;
}

.content--top .pitch {
 z-index: 1;
}

.content--top .slideshow,
.content--top .pitch {
 z-index: 1;
 background: rgba( 255, 255, 255, 0.5); 
 border: 1px solid white;
}

.content--top,
.content--top .row {
 position: relative;
}