.content--top {
 height: inherit;
}

.title--container,
.callout--container,
.description--container,
.skills--container {
 color: white;
}

.content--top > .row {
 justify-content: space-evenly;
 height: inherit;
}

.content--top,
.content--top > .row {
 position: relative;
}

.content--top .background-color {
 background: red;
 height: inherit;
 width: 75%;
 position: absolute;
 right: 0;
}

.content--top .pitch {
 z-index: 1;
}

.content--top .slideshow,
.content--top .pitch {
 display: flex;
 z-index: 1;
 // background: rgba( 255, 255, 255, 0.5);
 // border: 1px solid white;
}

.content--top .pitch {
 flex-direction: row;
 flex-wrap: wrap;
}

.content--top .slideshow {
 flex-direction: row;
 flex-wrap: wrap;
}

.image--container {
 min-height: 1104px;
 height: 90%;
}

.image {
 background: url("../images/claron.png");
 background-size: 100%;
 height: 100%;
 background-repeat: no-repeat;
}

.title {
 font-size: 56px;
 font-family: 'gt-thin';
}

.title--underline {
 background: white; 
 height: 8px; 
 border-radius: 8px; 
}


.callout {
 font-size: 88px;
 font-family: 'gt-ultraBold';
 text-transform: uppercase;
 line-height: 106px;
 color: white;
}

.description {
 font-size: 24px;
 font-family: 'gt-reg';
 line-height: 40px;
}

.skills {
 font-size: 16px;
 font-family: 'gt-light';
 text-transform: capitalize;
}

.behind-the-scenes {
 background: white;
 height: 48px;
 display: flex;
 justify-content: center;
 align-items: center;
 text-transform: uppercase;
 letter-spacing: 2.5px;
 font-family: 'gt-bold'; 
 font-size: 18px; 
 padding-top: 4px; 
}

.btn--primaryRed {
 color: red;
}