.header__container {
  background: $color-primaryBlack;
  color: $color-primaryWhite;
  text-transform: uppercase;
  letter-spacing: $text--letterSpacing * 1.5;
  height: 276px; // 368px * .75 ( or the font size percentage)
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.header__navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding: 0px 56px;
  height: 96px;
  align-items: center;
  z-index: 2; 
}

.navbar--links {
  padding: 0 8px;
}

.navbar--links > p {
  font-size: 18px;
  font-family: 'gt-reg';
  letter-spacing: 2.5px;
}

.header__logo {
  display: flex;
  justify-content: center;
  font-size: 80px;
  letter-spacing: 16px;
  height: 120px;
  position: absolute;
  opacity: 0.27;
  align-items: center;
  z-index: 1; 
}

.header__logo > h2 {
  color: red;
}

.header__menu {
  width: 53px;
  height: 53px;
  border-radius: 53px;
  display: flex;
  justify-content: center;
  align-items: center;
  display: none;
}

.bg__work-color {
  background: #FB564B;
}

.bg__process-color {
  background: #2AD2F8;
}

.bg__projects-color {
  background: #FFC100;
}

.header__menu > p {
  font-size: 14px;
  letter-spacing: 0;
  font-family: 'gt-reg';
  margin-top: 18px;
  color: black;
}