.header__container {
  background: black;
  color: white;
  text-transform: uppercase;
  letter-spacing: 2.5px;
}

.header__navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding: 0px 240px;
  height: 182px;
}

.header__logo {
  display: flex;
  justify-content: center;
  font-size: 80px;
  letter-spacing: 16px;
  align-items: flex-end;
  height: 182px;
}