.process-block {
 height: $baseBlockSize * 103;
 display: flex;
 color: $color-primaryWhite;

 z-index: 2;
 
 &.left {
 }
 &.right {}
}

.process-image-container {
 height: $baseBlockSize * 64; //512px; 
 background: gray; 

 &.left {
  align-self: flex-start;
 }
 &.right {
  align-self: flex-end;
 }
}

.process-copy-container {
 padding: 0 0 0 64px;
}

.process-title {
 // font-size: $font-header4; 
 // font-family: $font-bold; 
}

.process-description {
 // font-size: $font-copy;
}

//696px
//512px