.process-block {
 height: $baseBlockSize * 103; // 824px
 display: flex;
 padding: 0;
 padding-top: 150px;
 color: $color-primaryWhite;
 z-index: 2;
}

.process-image-container {
 height: $baseBlockSize * 64; //512px; 
 overflow: hidden;
}

.process-image-container > img {
 width: 100%;
}

.process-block.left {
 .process-image-container {
  order: 1;
 }
}

.process-copy-container {
 padding: 0 0 0 64px;
}

.process-title {
 // font-size: $font-header4; 
 // font-family: $font-bold; 
 margin-bottom: 80px;
}

.process-description {
 // font-size: $font-copy;
}

//696px
//512px