<div class="content--top">
	<!-- page highlight color -->
	<div class="background-color pad--none">

	</div>

	<!-- page slideshow -->
	<div class="slideshow col-xs-5 pad--none marg--top-6">

		<div class="col-xs-12 image--container">
			<div class="col-xs-12 image">
			</div>
		</div>
		<div class="col-xs-12">
			<div class="col-xs-10  col-xs-offset-1 button behind-the-scenes-button primary-button works">
				<p>behind the scenes</p>
			</div>
		</div>

	</div>

	<!-- page pitch / project description -->
	<div class="pitch col-xs-7 marg--top-6">
		<div class="col-xs-12 title--container">
			<h3><%= title %></%></h3>
			<div class="title--underline col-xs-1 marg--top-h"></div>
		</div>

		<div class="col-xs-12 callout--container">
			<!-- <h1 class="callout">providing clarity <br/>in crisis</h1>-->
			<h1 class="callout"><%= callout %></%></h1>
		</div>

		<div class="col-xs-12 description--container">
			<p class="description">
				<%= description %></%>
			</p>
		</div>

		<div class="col-xs-12 skills--container works">
			<div class="row">
				<div class="col-xs-4 skills">
					<p class="skill">photography</p>
				</div>
				<div class="col-xs-4 skills">
					<p class="skill">branding</p>
				</div>
				<div class="col-xs-4 skills">
					<p class="skill">research</p>
				</div>
			</div>

			<div class="row">
				<div class="col-xs-4 skills">
					<p class="skill">system architecture</p>
				</div>
				<div class="col-xs-4 skills">
					<p class="skill">interaction design</p>
				</div>
				<div class="col-xs-4 skills">
					<p class="skill">ui design</p>
				</div>
			</div>
		</div>

	</div>

</div>